<h1>Editing User</h1>

<div class="pull-right"><%= link_to 'Show', @user %> | <%= link_to 'Back', users_path %> | <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></div>

<%= render 'form', user: @user %>
