<h1>Editing Report</h1>

<div class="pull-right"><%= link_to 'Show', @report %> | <%= link_to 'Back', reports_path %> | <%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %></div>

<%= render 'form', report: @report %>
