<h1>Reports</h1>

<% if @reports.empty? %>
  <h4>No Reports Available</h4>
<% else %>
  <div class="row">
    <div class="col-xs-4 text-primary">Name</div>
    <div class="col-sm-7 text-primary">Sql query</div>
    <div class="col-sm-1 text-primary"> </div>
  </div>
<% end %>

<% @reports.each do |report| %>
  <div class="row row-striped">
    <div class="col-xs-4"><%= report.name %></div>
    <div class="col-sm-7"><%= report.sql_query %></div>
    <div class="col-sm-1"><%= link_to 'Show', report %></div>
  </div>
<% end %>

<br>

<%= link_to 'New Report', new_report_path %>
